@import url(http://fonts.googleapis.com/css?family=Francois+One);


.uploader-wrapper{
	border:6px dashed #c9c9c9;
	min-height: 335px;
	text-align: center;
}

.big-numbers{
	font-size: 92px;
	font-family: 'Francois One', sans-serif;
}