

<h2>TEST PAGE</h2>
<div class="row">
	<div class="col-lg-12">
		<input id="wpInputTarget" type="text" class="form-control">
		<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">UPLOAD</button>
	</div>
</div>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Upload File</h4>
      </div>
      <div class="modal-body">
          <iframe src="../assets/upload/key:effcaf6877cbfd2f339f8ac77524d1d00994f441" width="100%" height="420" frameborder="0" allowtransparency="true"></iframe>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
